.login-btn {
  background-color: #38bdf8;
  font-size: 18px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  transition: all 0.3s;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0ea5e9;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(56, 189, 248, 0.3);
}

.main-card {
  max-width: 500px;
  border-radius: 24px;
}

.login-icon {
   width: 100px;
   height: 100px;
   background-color: #e8ebf7;
   font-size: 50px;
}

.user-input {
  font-size: 16px;
  padding: 14px 12px;
  color: #6b7280;
}

.input-group{
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #d1d5db;
}

.footer {
  font-size: 14px;
  color: #9ca3af;
}